p{
    width: 400px;
    line-height: 180%;
}
body{
    background-image: url(https://i.namu.wiki/i/oU0avPQmlPv0p13BPnuEqyzmtGl9SoTArdKVYpb1r5CYXrpUjEqtiurvlFDjpXdOMyDXwIFYpz0x3PgtS92_8A.webp);
    background-repeat: no-repeat;
    background-position: right top;
}
div{
    border: solid 2px skyblue;
    background-color: aliceblue;
    border-radius: 20px;
    width: 600px;
    box-shadow: 5px 5px 20px #888888;
}