#header, #aside, #section, #footer{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
 
}
#nav, #article{
    text-align: center;
    font-size: 20px;
}
#wrap{
    width: 900px;
    margin: 0 auto;
}
#header{
    height: 80px;
    width: 900px;
    background-color: aliceblue
}
#nav{
    background-color: skyblue;
    height: 40px;
}
#section{
    width: 600px;
    height: 200px;
    background-color: rgb(135, 177, 255);
    float: left;
}
#article{
    background-color: aliceblue;
    height: 100px;

}
#aside{
    float: right;
    width: 300px;
    height:200px;
}
#footer{
    clear: both;
    height: 60px;
    background-color: gray;
}
